<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hungdo.myrecipe">


    <permission
        android:name="com.example.sahithi.splashscreen.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.sahiti.splashscreen.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".Dish.Volley.AppController"
        android:allowBackup="true"
        android:icon="@drawable/sslogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".Dish.InitialLaunch.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dish.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.coderefer.androidsplashscreenexample.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider546209935528780"
            android:exported="true"></provider>

        <activity android:name=".Dish.Content.Preferences"></activity>
        <activity android:name=".Dish.Content.Favorites"></activity>
        <activity android:name=".Dish.Content.IngredientBank"></activity>
        <activity android:name=".Dish.APIs.ExpandedView"></activity>
        <activity android:name=".Dish.APIs.Nutrition"></activity>
        <activity android:name=".Dish.APIs.NutritionRequest"></activity>
        <activity android:name=".Dish.APIs.WebViewActivity"></activity>
        <activity android:name=".Dish.Content.About"></activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value=" AIzaSyC0qfYbyA_lYkTmFOlWsiRRRWi6THSMdik" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Dish.APIs.RecipeRequest"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Dish.Content.GoogleMaps.MapsActivity"
            android:label="@string/title_activity_maps"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c44ce964e1bcac834c2608f7ffc3ec66ae64784f" />
    </application>

</manifest>

